<%= render 'shared/create_short_link_modal' %>
<%= render partial: "shared/summary_stats", locals: { number_of_visits: @number_of_visits, unique_visits: @unique_visits, number_of_links_shared: @number_of_links_shared, countries_reached: @countries_reached } %>

<div class="row">
  <div class="page-header">
    <h5><%= @team.name %> links list</h5>
  </div>
  <%= render partial: "short_urls/short_urls_table", locals: { short_urls: @short_urls } %>
</div>

<div class="row">
  <div class="page-header">
    <h5><%= @team.name %> overview</h5>
  </div>
  <%= line_chart current_user.team.visits_per_day %>
</div>

<div class="row">
  <div class="page-header">
    <h5>Geographical origin</h5>
    <div id="map" class="leaflet-container leaflet-fade-anim"></div>
  </div>
</div>

<div class="row group">
  <div class="col col-6">
    <div class="page-header">
      <h5>Top organisations</h5>
    </div>
    <%= render partial: "short_urls/organizations_table" %>
  </div>

  <div class="col col-6">
    <div class="page-header">
      <h5>Top referrals</h5>
    </div>
    <%= bar_chart User.group(:created_at).count %>
  </div>
</div>

