<div class="new-link-form-wrapper">
  <% if false %>
    <%= form_for @short_url, url: {action: "create"}, 
      html: {class: "update-form"} do |f| %>
        <%= f.label "Insert the url you want to share" %>:
        <%= f.text_field :url %>
        <%= f.label "Edit the url before sharing" %>:
        <%= f.text_field :short_name %>
        <%= f.submit "Done" %>
    <% end %>
  <% end %>
</div>
