<table class="short-urls stripe" id="datatable">
  <thead>
    <th>Name</th>
    <th>Link</th>
    <th>Visits</th>
    <th>Publication</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% short_urls.each do |short_url| %>
      <tr>
        <td><%= link_to short_url.short_name, short_url_info_path(short_url.short_name) %></td>
        <td>
          <% if short_url.private? %>
            (Private)
          <% else %>
            <%= link_to short_url.url, short_url.url %>
          <% end %>
        </td>
        <td><%= short_url.visits_count %></td>
        <td><%= short_url.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <span class="tooltip">
            <i class="fa fa-ellipsis-v fa-inverse tooltip-trigger"></i>
            <div class="tooltip-panel">
              <div class="row group">
                <div class="col col-9">
                  <p><strong>Description</strong></p>
                  <p><%= short_url.description ? short_url.description : "No description for this link" %>
                </div>
                <div class="col col-3">
                  <% if current_user.can_manage?(short_url) %>
                    <%= link_to '', class: "tooltip-action edit-link", data: { id: short_url.id } do %>
                      <%= fa_icon "cog" %> Edit
                    <% end %>
                    <%= link_to short_url_path(short_url), data: {confirm: "Are you sure you want to delete this link? You will not be able to recover it or its data"}, method: :delete, class: "tooltip-action" do %>
                      <%= fa_icon "trash" %> Delete
                    <% end %>
                  <% end %>
                  <%= link_to '', class: "tooltip-action history-link", data: { id: short_url.id } do %>
                    <%= fa_icon "history" %> History
                  <% end %>
                  <%= render partial: 'shared/edit_short_link_modal', locals: { short_url: short_url } %>
                  <%= render partial: 'shared/short_link_history_modal', locals: { short_url: short_url } %>
                </div>
              </div>
            </div>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

