<table class="short-urls stripe" id="datatable">
  <thead>
    <th>Name</th>
    <th>Link</th>
    <th>Visits</th>
    <th>Publication</th>
    <th>Edit</th>
  </thead>
  <tbody>
    <% @short_urls.each do |short_url| %>
      <tr>
        <td><%= short_url.short_name %></td>
        <td>
          <% if short_url.private? %>
            Private
          <% else %>
            <%= link_to short_url.url, short_url.url %>
          <% end %>
        </td>
        <td><%= short_url.visits_count %></td>
        <td><%= short_url.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "Info", short_url_info_path(short_url.short_name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

