<table>
  <tbody>
  <% @short_urls.each_with_index do |short_url, index| %>
    <tr class="<% if index > 7 %>all hidden<% end -%>">
      <td>
        <%= index + 1 %>. <%= link_to short_url.short_name ,
          short_url_info_path(short_url.short_name) %>

        <% if recently_added short_url %>
          <span class="new-tag">new</span>
        <% end %>

        <small title="<%= short_url.url %>">
          <%= link_to short_url.url do %>
            <%= truncate pretty_url(short_url.url), length: 40, omission: '...' %>
          <% end %>
        </small>
      </td>
      <td>
        <%= short_url.visits_count %>
      </td>
  <% end %>
  </tbody>
</table>

<% if @short_urls.length > 8 %>
  <button class="view-all">View All</button>
<% end %>
