<% title "Shared documents by WCMC" %>

<div class="left">
  <%= render partial: "headline_number", locals: {
    title: "Total number of visits",
    value: @total_visits
  } %>

  <%= render partial: "headline_number", locals: {
    title: "Number of links shared",
    value: @total_urls
  } %>

  <%= render partial: "short_urls_table", locals: {
    title: "Top links by number of visits",
    data: @short_urls
  } %>
</div>

<div class="right">
  <%= render partial: "chart_block" %>
  <%= render partial: "organizations_table", locals: {
    title: "Top organizations by number of visits"
  } %>
</div>
