  <header>

    <h1>wcmc.io<span>shorten // share // track</span></h1>
    <div class="form-container">
      <form>
        <input id="url_to_shorten" type="text" placeholder="Paste a link to shorten">
        <button id="shorten-link-btn" class="btn" type="submit" >Shorten</button>
      </form>
    </div>

  </header>

  <section>

    <div class="map-link"><%= link_to("Map View", "/map") %></div>

    <ul id="short-url-list" class="lists">
      <% @short_urls.each do |short_url| %>
        <li>
          <div class="details ">
            <%= link_to("wcmc.io/#{short_url.short_name}", visit_short_url_path(short_name: short_url.short_name)) %>
            <div>
              <span class='stats'><%= link_to("#{short_url.visit_count} visits", short_url_info_path(short_url.short_name)) %></span>
              <%= link_to("view stats", short_url_info_path(short_url.short_name)) %>
            </div>
            <p>
              <%= short_url.url %>
              <button class="copy-url" data-clipboard-text="<%= visit_short_url_url(short_name: short_url.short_name) %>">Copy</button>
            </p>
          </div>
          <div class='side-hover-action'>
            <%= link_to 'Delete', short_url, :method => :delete, :data => {:confirm => "Are you sure?"} %>
          </div>
        </li>
      <% end %>
    </ul>

  </section>
