<h1>ShortUrl: <%= @short_url.short_name %></h1>


<ul id="stat-group-list">
  <li>
    <h3>Overall Clicks <span class="stat"><%= @visits %></span></h3>
    <ul class="stat-group">
      <li>
        Today
        <span class="stat"><%= @short_url.visits_today.count %></span>
      </li>
      <li>
        This Week
        <span class="stat"><%= @short_url.visits_this_week.count %></span>
      </li>
      <li>
        This Month
        <span class="stat"><%= @short_url.visits_this_month.count %></span>
      </li>
    </ul>
  </li>
</ul>
