<% title "wcmc.io/#{@short_url.short_name} <small>#{link_to @short_url.url, @short_url.url}</small>" %>

<% if user_signed_in? && @short_url.owned_by?(current_user.team) %>
  <% content_for :page_actions do %>

    <%= link_to @short_url, :method => :delete,
      :data => {:confirm => "Are you sure?"}, :class => 'button' do %>
      <i class="fa fa-trash-o"></i> Delete link
    <% end %>

    <button class="edit-link" data-toggle="popover"><i class="fa fa-pencil-square-o"></i> Edit link</button>

  <% end %>
<% end %>

<div class="left">
  <%= render partial: "short_urls/headline_number", locals: {
    title: "Total number of visits",
    value: @total_visits
  } %>

  <%= render partial: "short_urls/chart_block" %>
</div>

<div class="right">
  <%= render partial: "short_urls/organizations_table", locals: {
    title: "Top organisations by number of visits"
  } %>
</div>

<div class="edit-link-form popover"></div>

<script>
  <%= render('short_urls/edit_link').html_safe %>

  $(document).ready(function() {
    var carto_table = "<%= CARTODB_LAYERS_CONFIG['tables'][Rails.env]['organizations_by_short_url'] %>";
    cartodb.createLayer(map, {
      user_name: '<%= CARTODB_CONFIG['username'] %>',
      type: 'cartodb',
      sublayers: [{
        sql: "SELECT * FROM " + carto_table + " WHERE short_url_id=<%=@short_url.id %>;",
        cartocss: "#" + carto_table + "<%= raw CARTODB_LAYERS_CONFIG['css'] %>"
      }]
    })
    .addTo(map)
    .on('done', function(layer) {
      layer.setInteraction(true);
      cdb.vis.Vis.addInfowindow(map, layer.getSubLayer(0), ['org_name', 'visits']);
    }).on('error', function() {
      cartodb.log.log("some error occurred");
    });
  });
</script>
