<% title "wcmc.io/#{@short_url.short_name} <small>#{link_to @short_url.url, @short_url.url}</small>" %>

<% if @short_url.owned_by? current_user %>
  <% content_for :page_actions do %>

    <%= link_to @short_url, :method => :delete,
      :data => {:confirm => "Are you sure?"}, :class => 'button' do %>
      <i class="fa fa-trash-o"></i> Delete link
    <% end %>

    <button class="edit-link"><i class="fa fa-pencil-square-o"></i> Edit link</button>

  <% end %>
<% end %>

<div class="left">
  <%= render partial: "short_urls/headline_number", locals: {
    title: "Total number of visits",
    value: @total_visits
  } %>

  <%= render partial: "short_urls/chart_block" %>
</div>

<div class="right">
  <%= render partial: "short_urls/organizations_table", locals: {
    title: "Top organizations by number of visits"
  } %>
</div>

<div class="edit-link-form popover"></div>

<script>
  <%= render('short_urls/edit_link').html_safe %>

  $(document).ready(function() {
    L.tileLayer("http://carbon-tool.cartodb.com/tiles/<%= CARTODB_CONFIG['tables']['organizations_by_short_url'] %>/{z}/{x}/{y}.png?sql=SELECT * FROM wcmc_io_organizations_by_short_url WHERE short_url_id=<%=@short_url.id %>;", {
      maxZoom: 18
    }).addTo(map)
  })
</script>
