  <header>
    <h1>wcmc.io<span>shorten // share // track</span></h1>
    <h2>ShortUrl: wcmc.io/<%= @short_url.short_name %></h2>
    <p>Original URL: <%= @short_url.url %></p>
  </header>

  <section>
    <ul class="stat-groups">
      <li>
        <div class="details">
          Overall Clicks
          <span class="stat"><%= @visits %></span>
        </div>
        <ul class="lists">
          <li>
          <div class="details">
            Today
            <span class="stat"><%= @short_url.visits_today.count %></span>
          </div>
          </li>
          <li>
          <div class="details">
            This Week
            <span class="stat"><%= @short_url.visits_this_week.count %></span>
          </div>
          </li>
          <li>
          <div class="details">
            This Month
            <span class="stat"><%= @short_url.visits_this_month.count %></span>
          </div>
          </li>
        </ul>
      </li>

      <li>
        <div class="details">
          By Country
        </div>
        <ul class="lists">
          <% @visits_by_country.each do |country| %>
            <li>
              <div class="details">
                <%= country.country %>
                <span class="stat"><%= country.visit_count %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </li>

      <li>
        <div class="details">
          By Organisation
        </div>
        <ul class="lists">
          <% @visits_by_organization.each do |organization| %>
            <li>
              <div class="details">
                <%= organization.name %>
                <span class="stat"><%= organization.visit_count %></span>
              </div>
              <div class='side-hover-action'>
                <%= link_to 'Disregard', organization, :method => :delete, :data => {:confirm => "Are you sure?"} %>
              </div>
            </li>
          <% end %>
        </ul>
      </li>

    </ul>
  </section>
