<% title "http://wcmc.io/#{@short_url.short_name}" %>

<% if @short_url.owned_by? current_user %>
  <% content_for :page_actions do %>

    <%= link_to @short_url, :method => :delete,
      :data => {:confirm => "Are you sure?"}, :class => 'button' do %>
      <i class="fa fa-trash-o"></i> Delete link
    <% end %>

    <button class="edit-link"><i class="fa fa-pencil-square-o"></i> Edit link</button>

  <% end %>
<% end %>

<div class="left">
  <%= render partial: "short_urls/headline_number", locals: {
    title: "Total number of visits",
    value: @total_visits
  } %>

  <%= render partial: "short_urls/chart_block" %>
</div>

<div class="right">
  <%= render partial: "short_urls/organizations_table", locals: {
    title: "Top organizations by number of visits"
  } %>
</div>

<div class="edit-link-form popover"></div>

<script>
  var editLinkForm = $('.edit-link-form');
  var editLinkView = null;

  $('.edit-link').on('click', function (event) {
    if (editLinkView) {
      editLinkForm.hide();
      editLinkView.close();
      editLinkView = null;
    } else {
      editLinkView = new Backbone.Views.EditLinkView({
        short_url: <%= @short_url.to_json.html_safe %>
      });
      editLinkForm.html(editLinkView.el);
      editLinkForm.show();
    }
  });
</script>
