<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>
  <header>

  <h1>wcmc.io<span>shorten // share // track</span></h1>
  <div class="form-container">
    <form>
      <input id="url-to-shorten" type="text" placeholder="Paste a link to shorten">
      <button id="shorten-link-btn" class="btn" type="submit" >Shorten</button>
    </form>
  </div>

  </header>

  <section>

  <span class='compare_urls'>Compare urls!</span> 
  <span class="map-link"><%= link_to("Map View", "/map") %></span>

  <ul id="short-url-list" class="lists">
    <% @short_urls.each do |short_url| %>
      <li>
        <div class="details ">
          <input type="checkbox" value="<%= short_url.id %>" class="compare_urls">
          <%= link_to("wcmc.io/#{short_url.short_name}", visit_short_url_path(short_name: short_url.short_name)) %>
          <div>
            <span class='stats'><%= link_to("#{short_url.visit_count} visits", short_url) %></span>
            <%= link_to("view stats", short_url) %>
          </div>
          <p><%= short_url.url %></p>
        </div>
        <div class='side-hover-action'>
          <%= link_to 'Delete', short_url, :method => :delete, :confirm => "Are you sure?" %>
        </div>
      </li>
    <% end %>
  </ul>

  </section>

<footer>
</footer>


