<%= render 'shared/create_short_link_modal' %>
<%= render partial: "shared/summary_stats", locals: { number_of_visits: @number_of_visits, unique_visits: @unique_visits, number_of_links_shared: @number_of_links_shared, countries_reached: @countries_reached } %>


<div class="row">
  <div class="page-header">
    <h5>Links list</h5>
  </div>
  <%= render partial: "short_urls/short_urls_table", locals: {short_urls: @short_urls} %>
</div>

<div class="row">
  <div class="page-header">
    <h5>Overview (Last 30 Days)</h5>
  </div>
  <%= line_chart @visits_per_day %>
</div>

<div class="row">
  <div class="page-header">
    <h5>Geographical origin</h5>
  </div>
  <div id="map" class="leaflet-container leaflet-fade-anim"></div>
</div>

<div class="row group">
  <div class="col col-6">
    <div class="page-header">
      <h5>Top organisations</h5>
    </div>
    <%= render partial: "short_urls/organizations_table" %>
  </div>

  <div class="col col-6">
    <div class="page-header">
      <h5>Top referrals</h5>
    </div>
    <%= bar_chart @top_referrals %>
  </div>
</div>


<script>
  $(document).ready(function() {
    var carto_table = "<%= CARTODB_LAYERS_CONFIG['tables'][Rails.env]['organizations_by_user'] %>";
    var carto_tiles = new cartodb.Tiles({
      user_name: '<%= CARTODB_CONFIG['username'] %>',
      sublayers: [{
        sql: "SELECT * FROM " + carto_table + " WHERE user_id=<%= current_user.id %>;",
        cartocss: "#" + carto_table + "<%= raw CARTODB_LAYERS_CONFIG['css'] %>"
      }]
    });

    var cartoOverlay = null;

    map.on('baselayerchange', function() { cartoOverlay.bringToFront() });
    carto_tiles.getTiles(function(o) {
      cartoOverlay = L.tileLayer(o.tiles[0]).addTo(map)
    });
  });

  PubSub.subscribe('ON_POPUP_OPEN', function( msg, data ){
    var content = data.get('content'),
        sql,
        org_name;

    if (content) {
      org_name = content.data.org_name;
      sql = "SELECT u.short_url_id FROM <%= CARTODB_LAYERS_CONFIG['tables'][Rails.env]['organizations_by_user'] %> o " +
            "inner join <%= CARTODB_LAYERS_CONFIG['tables'][Rails.env]['organizations_by_short_url'] %> u " +
            "on o.org_id = u.org_id " +
            "where o.user_id = <%= current_user.id %> and o.org_name = '" +
            org_name + "' group by u.short_url_id";

      $(".short-urls").addClass('open-popup');

      $.getJSON('http://'+"<%=CARTODB_CONFIG['username']%>"+'.cartodb.com/api/v2/sql/?q='+sql, function(data) {
        $.each(data.rows, function(key, val) {
          $(".short-urls").find('[data-short-url-id='+val.short_url_id+']')
            .addClass('active');
        });
      });
    }
  });

  PubSub.subscribe('ON_POPUP_CLOSE', function( msg ){
    $(".short-urls").removeClass('open-popup')
      .find('tr').removeClass('active');
  });

</script>
