<div class="header">
  <ul class="nav">
    <li><%= image_tag "unep-wcmc.png" %></li>
  </ul>

  <ul>
    <li><%= image_tag "logo.png" %></li>
    <li><p>WCMC.io<p></li>
    <li><p>Measure the impact of digital documents you care about</p></li>

    <li>
      <%= link_to new_user_registration_path do %>
        <%= fa_icon 'user' %> Sign Up
      <% end %>
    </li>
    <li>
      <%= link_to new_user_session_path do %>
        <%= fa_icon 'sign-in' %> Sign In
      <% end %>
    </li>
  </ul>
</div>
