<div class="header">
  <ul>
    <li class="unep-logo"><%= image_tag 'unep-wcmc.png' %></li>
    <li class="wcmcio-logo"><%= image_tag 'unep-wcmc.png' %></li>
    <li class="title">WCMC.io</li>
    <li class="strapline">Measure the impact of digital documents you care about</li>
    <li>
      <%= link_to new_user_registration_path do %>
        <%= fa_icon 'user' %> Sign Up
      <% end %>
    </li>
    <li>
      <%= link_to new_user_session_path do %>
        <%= fa_icon 'sign-in' %> Sign In
      <% end %>
    </li>
  </ul>
</div>
