<% if user_signed_in? && current_user.team.present? %>
  <nav class="container">
    <div>
      <div>
        <%= link_to 'WCMC', root_path, class: 'text' %>
        <%= link_to 'My Team', team_path(current_user.team.slug), class: 'text' %>
        <%= link_to 'My Links', user_links_path, class: 'text' %>
      </div>
      <%= link_to root_path, class: "btn btn-primary" do %>
        <%= fa_icon "share-alt" %> Share a link
      <% end %>
    </div>
  </nav>
<% end %>
