<!DOCTYPE html>
<html>
  <head>
    <title>wcmc.io shorten // share // track</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>

    <% unless @no_map %>
      <div id="map" class="leaflet-container leaflet-fade-anim"></div>
    <% end %>

    <div class="dashboard">
      <div class="left">
        <h3>
          <%= yield(:title) %>
        </h3>
      </div>
      <%= yield %>
    </div>

    <% if current_user.try(:no_urls?) && current_user.team.present? && !cookies[:hide_info_modal] %>
      <%= render partial: "short_urls/info_modal" %>
    <% end %>

    <script>
      var pieChart = new PieChart(<%= @visits_by_country.to_json.html_safe %>);
    </script>

    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%= ENV["DROPBOX_API_KEY"] %>"></script>

    <% if Rails.env == 'production' %>
      <%= render partial: "google_analytics" %>
    <% end %>
  </body>
</html>
