<!DOCTYPE html>
<html>
  <head>
    <title>wcmc.io shorten // share // track</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= render partial: 'shared/header' %>

    <% unless @no_map %>
      <div id="map" class="leaflet-container leaflet-fade-anim"></div>
    <% end %>

    <div class="dashboard">
      <%= yield %>
    </div>

    <% if current_user && current_user.no_urls? %>
      <%= render partial: "short_urls/info_modal" %>
    <% end %>

    <script>
      var pieChart = new PieChart(<%= @visits_by_country.to_json.html_safe %>);
    </script>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%= ENV["DROPBOX_API_KEY"] %>"></script>

    <% if Rails.env == 'production' %>
      <%= render partial: "google_analytics" %>
    <% end %>
  </body>
</html>
