<!DOCTYPE html>
<html>
  <head>
    <title>wcmc.io shorten // share // track</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script>
      var global_data_config = {
        visits_by_country: <%= @visits_by_country.to_json.html_safe %>,
        no_urls_yet: <%= @no_urls_yet %>
      };
    </script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag params[:controller] %>

    <!-- enable HTML5 elements in IE7+8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div class="inner">

        <div class="left">
          <h1>WCMC.io</h1>
          <h2>Measure the impact of digital documents you care about</h2>
        </div>

        <div class="header-actions <% if user_signed_in? %>signed-in<% end -%>">
          <% if user_signed_in? %>
            Hello <%= truncate("#{current_user.email}", :length => 19, :omission => '...') %>

            <div class="new-link">
              <button>+ New Link</button>
              <%= render partial: "add_link" %>
            </div>

            <input type="search">
          <% else -%>
            <div id="sign-in">
              <%= link_to "Sign up", new_user_registration_path %> or 
              <%= link_to "sign in", new_user_session_path %>
            </div>
          <% end -%>
        </div>

      </div>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer>
    </footer>
  </body>
</html>
