<!DOCTYPE html>
<html>
  <head>
    <title>wcmc.io shorten // share // track</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag params[:controller] %>

    <!-- enable HTML5 elements in IE7+8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <header class="main">
        <div id="home-banner">Home</div>
        <div id="header-actions" class="<% if user_signed_in? %>signed-in<% end -%>">
          <% if user_signed_in? %>
            <div id="greetings">Hello
              <%= truncate("#{current_user.email}", 
                :length => 22, :omission => '...') %>
            </div>
            <div id="new-link"><button>+ New Link</button></div>
            <div id="search-link">
              <input type="text">
            </div>
          <% else -%>
            <div id="sign-in">Sign in or register</div>
          <% end -%>
        </div>
      </header>

      <%= yield %>

      <footer>
      </footer>
    </div>
  </body>
</html>
