<!DOCTYPE html>
<html>
  <head>
    <title>wcmc.io shorten // share // track</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div class="inner">

        <div class="left">
          <h1>WCMC.io</h1>
          <h2>Measure the impact of digital documents you care about</h2>
        </div>

        <div class="header-actions">
          <% if user_signed_in? %>
            Hello <%= truncate("#{current_user.email}", :length => 19, :omission => '...') %>,
            <a href="<%= logout_path %>">sign out?</a>

            <button class="new-link">+ New Link</button>
          <% else -%>
            <%= link_to "Sign up", new_user_registration_path, :class => 'sign-up' %> or
            <%= link_to "sign in", new_user_session_path, :class => 'sign-in' %>
          <% end -%>
        </div>

      </div>
    </header>

    <div class="main">
      <header>
        <div class="inner">
          <h3>
            <%= yield(:title) %>
          </h3>
        </div>
      </header>

      <section id="map">
      </section>

      <div class="dashboard">
        <%= yield %>
      </div>

      <%= render partial: "short_urls/info_modal" %>
    </div>

    <footer>
    </footer>

    <div class="sign-up-form popover">
      <%= render "devise/registrations/new" %>
    </div>
    <div class="sign-in-form popover">
      <%= render "devise/sessions/new" %>
    </div>

    <div class="new-link-form popover"></div>
    <div class="modal-overlay"></div>

    <script>
      var pieChart = new PieChart(<%= @visits_by_country.to_json.html_safe %>);
    </script>

  </body>
</html>
